@{
    ViewData["Title"] = "Uçuşlar";

    var userMail = HttpContextAccessor.HttpContext.Session.GetString("UserMail");
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var userSurname = HttpContextAccessor.HttpContext.Session.GetString("UserSurname");
}

<!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-md-12 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Uçak Biletim</strong></h2>
                <p>Rezervasyonu tamamlamak için adımları takip edin</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="plane"><strong>Uçuşlar</strong></li>
                                <li id="personal"><strong>Yolcu</strong></li>
                                <li id="payment"><strong>Ödeme</strong></li>
                                <li id="confirm"><strong>Tamamlandı</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">

                                    <h5 class="mb-3">Gidiş</h5>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Firma</th>
                                                <th scope="col">Nereden</th>
                                                <th scope="col">Nereye</th>
                                                <th scope="col">Tarih</th>
                                                <th scope="col">Saat</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var flight in ViewBag.DepartureFlights)
                                                {
                                                    <tr>
                                                        <td>@flight.Company</td>
                                                        <td>@flight.From</td>
                                                        <td>@flight.To</td>
                                                        <td>@flight.Date.ToShortDateString()</td>
                                                        <td>@flight.Date.ToShortTimeString()</td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <h5 class="mb-3">Dönüş</h5>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Firma</th>
                                                <th scope="col">Nereden</th>
                                                <th scope="col">Nereye</th>
                                                <th scope="col">Tarih</th>
                                                <th scope="col">Saat</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var flight in ViewBag.ReturnFlights)
                                                {
                                                    <tr>
                                                        <td>@flight.Company</td>
                                                        <td>@flight.From</td>
                                                        <td>@flight.To</td>
                                                        <td>@flight.Date.ToShortDateString()</td>
                                                        <td>@flight.Date.ToShortTimeString()</td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                                <input type="button" name="next" class="next action-button" value="İleri" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="mb-3">Yolcu Bilgileri</h5>
                                    <input type="text" name="name" placeholder="Adı" value=@(!string.IsNullOrEmpty(userName) ? userName : "")>
                                    <input type="text" name="surname" placeholder="Soyadı" value=@(!string.IsNullOrEmpty(userSurname) ? userSurname : "")>
                                    <input type="text" name="mail" placeholder="Mail" value=@(!string.IsNullOrEmpty(userMail) ? userMail : "")>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
                                <input type="button" name="next" class="next action-button" value="İleri" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h5 class="mb-3">Ödeme Bilgileri</h5>
                                    <label class="pay">Kart Sahibinin Adı</label>
                                    <input type="text" name="holdername" placeholder="" />
                                    <div class="row">
                                        <div class="col-9">
                                            <label class="pay">Kart Numarası</label>
                                            <input type="text" name="cardno" placeholder="" />
                                        </div>
                                        <div class="col-3">
                                            <label class="pay">CVC</label>
                                            <input type="password" name="cvcpwd" placeholder="***" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">Son Kullanma Tarihi</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Ocak</option>
                                                <option>Şubat</option>
                                                <option>Mart</option>
                                                <option>Nisan</option>
                                                <option>Mayıs</option>
                                                <option>Haziran</option>
                                                <option>Temmuz</option>
                                                <option>Ağustos</option>
                                                <option>Eylül</option>
                                                <option>Ekim</option>
                                                <option>Kasım</option>
                                                <option>Aralık</option>
                                            </select>
                                            <select class="list-dt" id="year" name="expyear">
                                                <option selected>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
                                <input type="button" name="make_payment" class="next action-button" value="Tamamla" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Başarılı!</h2>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>Rezervasyon başarıyla tamamlandı.</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>