@model ReservationViewModel

@{
    ViewData["Title"] = "Uçuşlar";

    var userMail = HttpContextAccessor.HttpContext.Session.GetString("UserMail");
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var userSurname = HttpContextAccessor.HttpContext.Session.GetString("UserSurname");
}

<div class="row mt-5">
    <div class="col-md-12">
        <form id="reservationForm">

            <div class="form-group">
                <h4 class="mb-2">Gidiş Uçuşları</h4>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Firma</th>
                                <th scope="col">Nereden</th>
                                <th scope="col">Nereye</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Saat</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var flight in ViewBag.DepartureFlights)
                                {
                                    <tr>
                                        <td>@flight.Company</td>
                                        <td>@flight.From</td>
                                        <td>@flight.To</td>
                                        <td>@flight.Date.ToShortDateString()</td>
                                        <td>@flight.Date.ToShortTimeString()</td>
                                        <td><input class="form-check-input" type="radio" name="DepartureFlightOptions" value="@flight.Id"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div @(ViewBag.OneWayRoundTrip == "TekYon" ? "hidden" : "")>
                    <h4 class="mb-2 mt-2">Dönüş Uçuşları</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Firma</th>
                                <th scope="col">Nereden</th>
                                <th scope="col">Nereye</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Saat</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var flight in ViewBag.ReturnFlights)
                                {
                                    <tr>
                                        <td>@flight.Company</td>
                                        <td>@flight.From</td>
                                        <td>@flight.To</td>
                                        <td>@flight.Date.ToShortDateString()</td>
                                        <td>@flight.Date.ToShortTimeString()</td>
                                        <td><input class="form-check-input" type="radio" name="ReturnFlightOptions" value="@flight.Id"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 class="mb-2 mt-3">Yolcu Bilgileri</h4>
            <input type="button" value="Yolcu Ekle" class="btn btn-sm btn-secondary addPassenger" id="addPassenger" />
            <input type="button" value="Yolcu Çıkar" class="btn btn-sm btn-secondary removePassenger" id="removePassenger" />
            <div id="passengers" class="mt-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="passengerName">Ad</label>
                            <input type="text" class="form-control" id="passengerName" placeholder="Ad" value=@(!string.IsNullOrEmpty(userName) ? userName : "") asp-for="PassengerName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="passengerSurname">Soyad</label>
                            <input type="text" class="form-control" id="passengerSurname" placeholder="Soyad" value=@(!string.IsNullOrEmpty(userSurname) ? userSurname : "") asp-for="PassengerSurname">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="passengerEmail">Mail</label>
                            <input type="text" class="form-control" id="passengerEmail" placeholder="Email" value=@(!string.IsNullOrEmpty(userMail) ? userMail : "") asp-for="PassengerEmail">
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mb-2 mt-3">Ödeme Bilgileri</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="creditCardHolderName">Kart Sahibinin Adı</label>
                        <input type="text" class="form-control" id="creditCardHolderName" placeholder="Kart Sahibinin Adı" asp-for="CreditCardHolderName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="creditCardNo">Kart Numarası</label>
                        <input type="text" class="form-control" id="creditCardNo" placeholder="Kart Numarası" asp-for="CreditCardNo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="creditCardCvc">CVC</label>
                        <input type="text" class="form-control" id="creditCardCvc" placeholder="CVC" asp-for="CreditCardCvc">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="creditCardExpirationDate">Son Kullanma Tarihi</label>
                        <input type="date" class="form-control" id="creditCardExpirationDate" asp-for="CreditCardExpirationDate" value="@DateTime.Today.ToString("yyyy-MM-dd")">

                    </div>
                </div>
            </div>

            <a class="btn btn-block btn-secondary mt-3 text-light" onclick="SaveReservation()">Rezervasyon Yap</a>
        </form>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {

            $("#addPassenger").click(function () {
                var lastField = $("#passengers .row");
                var intId = lastField.length + 1;

                var fieldRow = $("<div class=\"row\" />");
                var fieldColName = $("<div class=\"col-md-4\" />");
                var fieldColSurname = $("<div class=\"col-md-4\" />");
                var fieldColMail = $("<div class=\"col-md-4\" />");

                var fieldFormGroupName = $("<div class=\"form-group\" />");
                var fieldFormGroupSurname = $("<div class=\"form-group\" />");
                var fieldFormGroupMail = $("<div class=\"form-group\" />");

                var fNameLabel = $("<label class=\"form-group\" for=\"passengerName" + intId + "\">Ad</label>");
                fNameLabel.data("idx", intId);
                var fName = $("<input type=\"text\" class=\"form-control\" id=\"passengerName" + intId + "\" placeholder=\"Ad\" />");
                fName.data("idx", intId);

                var fSurnameLabel = $("<label class=\"form-group\" for=\"passengerSurname" + intId + "\">Soyad</label>");
                fSurnameLabel.data("idx", intId);
                var fSurname = $("<input type=\"text\" class=\"form-control\" id=\"passengerSurname" + intId + "\" placeholder=\"Soyad\" />");
                fSurname.data("idx", intId);

                var fMailLabel = $("<label class=\"form-group\" for=\"passengerEmail" + intId + "\">Mail</label>");
                fMailLabel.data("idx", intId);
                var fMail = $("<input type=\"text\" class=\"form-control\" id=\"passengerEmail" + intId + "\" placeholder=\"Email\" />");
                fMail.data("idx", intId);

                fieldFormGroupName.append(fNameLabel);
                fieldFormGroupName.append(fName);

                fieldFormGroupSurname.append(fSurnameLabel);
                fieldFormGroupSurname.append(fSurname);

                fieldFormGroupMail.append(fMailLabel);
                fieldFormGroupMail.append(fMail);

                fieldColName.append(fieldFormGroupName);
                fieldColSurname.append(fieldFormGroupSurname);
                fieldColMail.append(fieldFormGroupMail);

                fieldRow.append(fieldColName);
                fieldRow.append(fieldColSurname);
                fieldRow.append(fieldColMail);

                $("#passengers").append(fieldRow);
            });

            $("#removePassenger").click(function () {
                var lastField = $("#passengers .row:last");
                $(lastField).remove();
            });

        });

        function SaveReservation() {

            let departureFlightId = $('input[name="DepartureFlightOptions"]:checked').val();
            let returnFlightId = $('input[name="ReturnFlightOptions"]:checked').val();

            let form = $("#reservationForm");
            let reservationViewModel = $(form).serialize();
            let token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                url: "@Url.Action("SaveReservation", "Reservation")",
                data: reservationViewModel + '&departureFlightId=' + departureFlightId + '&returnFlightId=' + returnFlightId,
                async: true,
                headers: {
                    'RequestVerificationToken': token
                },
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    Swal.fire({
                        title: 'Lütfen Bekleyin!',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onOpen: () => {
                            Swal.showLoading();
                        }
                    });
                },
                success:
                    function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı!',
                            html: 'Rezervasyon başarıyla oluşturuldu. <br/> <b>-Rezervasyon No-</b> <br/>' + data["reservationNo"],
                            showConfirmButton: true
                        }).then(function () {
                            location.reload();
                        });
                    },
                error:
                    function (data) {
                        var errorMsg = data["responseText"];

                        if (errorMsg == "DepertureFlightIdNull") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                html: 'Lütfen gidiş uçuşu seçiniz.',
                                showCancelButton: false
                            });
                        }
                        else if (errorMsg == "PassengerNull") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                html: 'Lütfen yolcu ile ilgili bilgileri eksiksiz giriniz.',
                                showCancelButton: false
                            });
                        }
                        else if (errorMsg == "CreditCardNull") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                html: 'Lütfen ödeme ile ilgili bilgileri eksiksiz giriniz.',
                                showCancelButton: false
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Başarısız!',
                                html: 'Rezervasyon yapılırken hata meydana geldi.',
                                showCancelButton: false
                            });
                        }
                    },
            });
        };

    </script>

}