<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uçak Biletim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
</head>
<body>

    @{
        var userMail = HttpContextAccessor.HttpContext.Session.GetString("UserMail");
    }

    <header>
        <nav class="navbar navbar-expand-md navbar-dark border-bottom">
            <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Uçak Biletim</a>
            <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" @(!string.IsNullOrEmpty(userMail) ? "hidden" : "")>
                        <button class="btn btn-secondary" onclick="ShowSignUpModal()">Üye Ol</button>
                        <button class="btn btn-secondary" onclick="ShowSignInModal()">Giriş Yap</button>
                    </li>
                    <li class="nav-item" @(string.IsNullOrEmpty(userMail) ? "hidden" : "")>
                        <label>@userMail</label> | <button class="btn btn-secondary" onclick="SignOut()">Çıkış Yap</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="signup-modal-body">
    </div>

    <div id="signin-modal-body">
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2022 - Uçak Biletim
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>

        $(document).ready(function () {

        });

        function ShowSignUpModal() {
            $.ajax({
                url: "@Url.Action("GetSignUpPartial", "User")",
                dataType: 'html',
                success: function (data) {
                    $('#girisYapModal').modal('hide');
                    $('#signup-modal-body').html(data);
                    $('#uyeOlModal').modal('show');
                }
            });
        }

        function ShowSignInModal() {
            $.ajax({
                url: "@Url.Action("GetSignInPartial", "User")",
                dataType: 'html',
                success: function (data) {
                    $('#uyeOlModal').modal('hide');
                    $('#signin-modal-body').html(data);
                    $('#girisYapModal').modal('show');
                }
            });
        }

        function SignUp() {
            let form = $("#uyeOlForm");
            let user = $(form).serialize();
            let token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                url: "@Url.Action("SignUp", "User")",
                data: user,
                async: true,
                headers: {
                    'RequestVerificationToken': token
                },
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    Swal.fire({
                        title: 'Lütfen Bekleyin!',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onOpen: () => {
                            Swal.showLoading();
                        }
                    });
                },
                success:
                    function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı!',
                            html: 'Üye başarıyla oluşturuldu. Giriş sayfasına yönlendiriliyorsunuz.',
                            showConfirmButton: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            timer: 3000
                        }).then(function () {
                            ShowSignInModal();
                     });
                    },
                error:
                    function (data) {
                        var errorMsg = data["responseText"];

                        if (errorMsg == "UserExists") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Başarısız!',
                                html: 'Üye zaten kayıtlı.',
                                showCancelButton: false
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Başarısız!',
                                html: 'Üye oluşturulurken hata meydana geldi.',
                                showCancelButton: false
                            });
                        }
                    },
            });
        };

        function SignIn() {
            let form = $("#girisYapForm");
            let user = $(form).serialize();
            let token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                url: "@Url.Action("SignIn", "User")",
                data: user,
                async: true,
                headers: {
                    'RequestVerificationToken': token
                },
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    Swal.fire({
                        title: 'Lütfen Bekleyin!',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onOpen: () => {
                            Swal.showLoading();
                        }
                    });
                },
                success:
                    function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı!',
                            html: 'Başarıyla giriş yapıldı. Anasayfaya yönlendiriliyorsunuz.',
                            showConfirmButton: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            timer: 3000
                        }).then(function () {
                            window.location.href = "@Url.Action("Index", "Home")";
                        });
                    },
                error:
                    function (data) {
                        var errorMsg = data["responseText"];

                        if (errorMsg == "MailOrPasswordWrong") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Başarısız!',
                                html: 'Lütfen mail ve şifrenizi kontrol edin.',
                                showCancelButton: false
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Başarısız!',
                                html: 'Giriş yaparken hata meydana geldi.',
                                showCancelButton: false
                            });
                        }
                    },
            });
        };

        function SignOut() {
            $.ajax({
                url: "@Url.Action("SignOut", "User")",
                type: "post",
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    Swal.fire({
                        title: 'Lütfen Bekleyin!',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onOpen: () => {
                            Swal.showLoading();
                        }
                    });
                },
                success:
                    function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarılı!',
                            html: 'Başarıyla çıkış yapıldı. Anasayfaya yönlendiriliyorsunuz.',
                            showConfirmButton: false,
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            timer: 3000
                        }).then(function () {
                            window.location.href = "@Url.Action("Index", "Home")";
                        });
                    },
                error:
                    function (data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Başarısız!',
                            html: 'Çıkış yapılırken hata meydana geldi.',
                            showCancelButton: false
                        });
                    },
            });
        };

    </script>

</body>
</html>
